:root {
  /* Brand Color Deconstructed */
  --brand-hue: 155;
  --brand-saturation: 100%;
  --brand-lightness: 50%;

  /* Dark Text Colors*/
  --text-dark-primary: hsl(var(--brand-hue) 10% 93%);
  --text-dark-secondary: hsl(var(--brand-hue) 5% 75%);
  --text-dark-accent: hsl(var(--brand-hue) 95% 40%);

  /* Light Text Colors */
  --text-light-primary: hsl(var(--brand-hue) var(--brand-saturation) 7%);
  --text-light-secondary: hsl(var(--brand-hue) 7.5% 30%);
  --text-light-accent: hsl(var(--brand-hue) 95% 20%);

  /* Dark Surface Colors */
  --surface-dark-default: hsl(var(--brand-hue) 5% 13%);
  --surface-dark-darkened: hsl(var(--brand-hue) 10% 5%);
  --surface-dark-lightened: hsl(var(--brand-hue) 5% 20%);
  --surface-dark-lightest: hsl(var(--brand-hue) 5% 25%);

  /* Light Surface Colors */
  --surface-light-default: hsl(var(--brand-hue) 2% 90%);
  --surface-light-darkened: hsl(var(--brand-hue) 4% 85%);
  --surface-light-lightened: hsl(var(--brand-hue) 2% 95%);
  --surface-light-lightest: hsl(var(--brand-hue) 0% 100%);

  /* Dark Shadows */
  --shadow-dark-darkened: color-mix(
    in oklab,
    var(--surface-dark-default) 30%,
    black
  );
  --shadow-dark-lightened: color-mix(
    in oklab,
    var(--surface-dark-default) 70%,
    white
  );

  /* Light Shadows */
  --shadow-light-darkened: color-mix(
    in oklab,
    var(--surface-light-default) 80%,
    black
  );
  --shadow-light-lightened: color-mix(
    in oklab,
    var(--surface-light-default) 20%,
    white
  );

  /* Dark Theme Error */
  --error-color-dark: hsl(3, 96%, 57%);

  /* Light Theme Error */
  --error-color-light: hsl(3, 56%, 47%);

  /* Base Color Scheme */
  color-scheme: light;

  --text-primary: var(--text-light-primary);
  --text-secondary: var(--text-light-secondary);
  --text-accent: var(--text-light-accent);

  --surface-default: var(--surface-light-default);
  --surface-darkened: var(--surface-light-darkened);
  --surface-lightened: var(--surface-light-lightened);
  --surface-lightest: var(--surface-light-lightest);
  --surface-shadow-top: var(--shadow-light-lightened);
  --surface-shadow-bottom: var(--shadow-light-darkened);

  --error-color: var(--error-color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --text-primary: var(--text-dark-primary);
    --text-secondary: var(--text-dark-secondary);
    --text-accent: var(--text-dark-accent);

    --surface-default: var(--surface-dark-default);
    --surface-darkened: var(--surface-dark-darkened);
    --surface-lightened: var(--surface-dark-lightened);
    --surface-lightest: var(--surface-dark-lightest);
    --surface-shadow-top: var(--shadow-dark-darkened);
    --surface-shadow-bottom: var(--shadow-dark-lightened);

    --error-color: var(--error-color-dark);
  }
}

:root[data-theme="light"] {
  color-scheme: light;

  --text-primary: var(--text-light-primary);
  --text-secondary: var(--text-light-secondary);
  --text-accent: var(--text-light-accent);

  --surface-default: var(--surface-light-default);
  --surface-darkened: var(--surface-light-darkened);
  --surface-lightened: var(--surface-light-lightened);
  --surface-lightest: var(--surface-light-lightest);
  --surface-shadow-top: var(--shadow-light-lightened);
  --surface-shadow-bottom: var(--shadow-light-darkened);

  --error-color: var(--error-color-light);
}

:root[data-theme="dark"] {
  color-scheme: dark;

  --text-primary: var(--text-dark-primary);
  --text-secondary: var(--text-dark-secondary);
  --text-accent: var(--text-dark-accent);

  --surface-default: var(--surface-dark-default);
  --surface-darkened: var(--surface-dark-darkened);
  --surface-lightened: var(--surface-dark-lightened);
  --surface-lightest: var(--surface-dark-lightest);
  --surface-shadow-top: var(--shadow-dark-darkened);
  --surface-shadow-bottom: var(--shadow-dark-lightened);
}
