@import "./reset.css";
@import "./colors.css";

/* Base Layer */
body {
  background-color: var(--surface-default);
}

p,
span,
input,
output,
button {
  font-size: 1.25rem;
}

button {
  cursor: pointer;
}

/* Utilities */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
